{{- if not .Values.database.external -}}
# Internal PostgreSQL Service (for local K8s database)
# If using external database (Neon), this is not needed
apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: {{ .Values.namespace }}
  labels:
    app: postgres
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.database.port }}
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector:
    app: postgres
---
# ExternalName service for external database (Neon)
{{- else }}
apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: {{ .Values.namespace }}
  labels:
    app: postgres
    type: external
spec:
  type: ExternalName
  externalName: {{ .Values.database.host }}
{{- end }}
